table {
	width: 70%;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

th {
	text-align: center;
}

td {
	padding-left: 3px;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    padding-bottom: 3px;
}

th {
    height: 50px;
}